/* add custom css here. overwrite bootstrap classes if needed but better to write your own */

/* example */

body {
    background-color: ANTIQUEWHITE;
}

#start-button {
    margin-top: 40px;
}

.add-margin-top-10 {
    margin-top: 6%;
}

.add-margin-top-8 {
    margin-top: 4%;
}


.custom-align-center {
    text-align: center;
}

#grass-footer {
    width: 110%;
    position: fixed;
    bottom: 0px;
}
#rules-card{
    width: 18rem; 
    margin-top: 10px; 
    display: none
}

#rules-button{
    margin: 20px;
}

#horse-button{
    margin-right: 50px;
    margin-top: 30px;
    margin-left: 40px
}

#beer-button{
    margin-right: 50px;
    margin-top: 30px;
    margin-left: 50px
}

#game-location{
    justify-content: center;
    text-align: center;
}

#top-score-location{
    justify-content: center;
    text-align: center;
    padding-top: 100px
}