/* add custom css here. overwrite bootstrap classes if needed but better to write your own */

/* example */

img {
    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    -ms-transition: all 0.1s ease;
    transition: all 0.1s ease;
}

img:hover {
    -webkit-filter: brightness(70%);
    filter: brightness(70%);
}

@media (max-width: 992px) {
    .hidden-leaderboard {
        display: none;
    }
}


body {
    background-color: ANTIQUEWHITE;
}

.well img {
    display: inline-block;
}

#start-button {
    margin-top: 40px;
}


.answer-button {
    max-height: 10em;
    max-width: 10em;
}

.add-margin-top-10 {
    margin-top: 6%;
}

.add-margin-top-4 {
    margin-top: 4%;
}


.custom-align-center {
    text-align: center;
}

#leaderboard-location {
    z-index: -5;
}

#correct-answer {
    color: green;
    font-size: medium;
}

#incorrect-answer {
    color: red;
}

#grass-footer {
    width: 110%;
    position: fixed;
    bottom: -1px;
    z-index: -10;
}

#rules-card {
    width: 18rem;
    margin-top: 1em;
    margin-bottom: 1em;
    display: none;
}

#rules-button {
    margin: 20px;
    z-index: 10;
}

#game-location {
    justify-content: center;
    text-align: center;
}

#top-score-location {
    justify-content: center;
    text-align: center;
}